@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300;400;500 & family= Shrikhand & display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Variables couleurs: primaire, secondaire, tertiaire */
html {
    --primary: #9356DC;
    --secondary: #FF79DA;
    --tertiery: #99E2D0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* padding: 40px; */
}

header {
    background-color: #ffffff;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 5px;
}

header i {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 20px;
}

main {

    border-radius: 40px 40px 0 0;
    background-color: aqua;
    padding-bottom: 30px;
}

section {
    padding: 20px;
}


.localisation {
    font-weight: 600;
    background-color: #EAEAEA;
    /* height: 50px; */
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: solid 2px rgb(212, 211, 211);

}



h1 {
    font-family: 'Shrikhand';
    font-size: 38px;
    font-style: italic;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}

.menu h2 {
    margin: 40px 0 20px 0;
    /* border-bottom: #99E2D0; */
    border-bottom: 3px solid rgb(53, 53, 53);
    width: 40px;
    font-size: 16px;
    font-weight: 300;
}

.rectangleMenu  {
    font-size: 18px;
    background-color: white;
    box-shadow: -1px 5px 10px 1px rgba(0, 0, 0, .1);
    border-radius: 0.75rem;
    margin-bottom: 20px;
    padding: 20px;
    /* display: flex; */
    /* justify-content: space-between; */
    flex-grow: 1;
    }

.rectangleMenu p {
    margin-bottom: 5px;
}

.price  {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;

}

.commande p {
    margin: auto;
    width: 218px;
    height: 50px;
    border-radius: 25px;    
    background-image: linear-gradient(#FF79DA, #9356DC);
    border: #bfbfbf 2px solid;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    cursor: pointer;
}




/* *** EFFACER CE QUI N'EST PAS UTILE **** */



.card img {
    object-fit: cover;
}

.card_content {
    padding-top: 5px;
    padding-left: 8px;
}

footer {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 20px;
    font-size: 18px;
    /* margin-top: 20px; */
}

footer img {
    padding: 10px;
}
footer ul li {
    padding: 10px;
    list-style-type: none;
}

footer span {    
    margin-left: 7px;
  }

footer a {
    text-decoration: none;
    color: white;
}


/* ****** Media queries ******** */
/* pour les écrans qui dépassent 600 px */
@media screen and (min-width: 600px) {


    .exempledeClass {
        gap: 20px;
    }
}

.RestauPhoto img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}